<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>nop</string>
	<key>command</key>
	<string>#!/usr/bin/env python3
"""Turn the name of one of Python's special methods into a snippet for it.

An unknown name makes an ordinary method instead. The three tables below are
Python 3's special methods: the ones Python 2 had and Python 3 dropped, such
as __nonzero__, __div__, __cmp__, __coerce__, __unicode__ and the slice
methods, are gone, and the ones Python 3 added are here.
"""

import os
import sys

# Special methods taking nothing but self.
SELF_ONLY = (
    'del', 'repr', 'str', 'bytes', 'hash', 'bool', 'len', 'length_hint',
    'iter', 'reversed', 'next', 'aiter', 'anext', 'neg', 'pos', 'abs',
    'invert', 'complex', 'int', 'float', 'index', 'trunc', 'floor', 'ceil',
    'enter', 'aenter', 'fspath', 'dir', 'sizeof', 'copy', 'deepcopy',
    'getnewargs', 'getstate', 'reduce', 'await',
)

# Binary operators, taking self and other.
SELF_AND_OTHER = (
    'lt', 'le', 'eq', 'ne', 'gt', 'ge', 'add', 'sub', 'mul', 'matmul',
    'truediv', 'floordiv', 'mod', 'divmod', 'pow', 'lshift', 'rshift', 'and',
    'xor', 'or', 'radd', 'rsub', 'rmul', 'rmatmul', 'rtruediv', 'rfloordiv',
    'rmod', 'rdivmod', 'rpow', 'rlshift', 'rrshift', 'rand', 'rxor', 'ror',
    'iadd', 'isub', 'imul', 'imatmul', 'itruediv', 'ifloordiv', 'imod',
    'ipow', 'ilshift', 'irshift', 'iand', 'ixor', 'ior',
)

# Everything else, with the arguments it takes after self.
SELF_AND_MORE = {
       'getattr': 'name',
       'delattr': 'name',
  'getattribute': 'name',
       'setattr': 'name, value',
       'getitem': 'key',
       'delitem': 'key',
       'setitem': 'key, value',
      'missing': 'key',
           'get': 'instance, owner',
           'set': 'instance, value',
        'delete': 'instance',
      'set_name': 'owner, name',
      'contains': 'item',
        'format': 'format_spec',
          'round': 'ndigits=None',
          'exit': 'exception_type, exception, traceback',
         'aexit': 'exception_type, exception, traceback',
 'init_subclass': 'cls, **kwargs',
 'class_getitem': 'cls, item',
     'setstate': 'state',
  'reduce_ex': 'protocol',
}

BODY = '\t${4/.+/"""/}${4:docstring for %s}${4/.+/"""\n/}${4/.+/\t/}${0:pass}'


def special(name, arguments):
    # The docstring placeholder is filled in here too. It used to be filled in
    # only for ordinary functions, so every special method arrived with a
    # literal %s where its own name should have been.
    return ''.join(['def __', name, '__(', arguments, '):\n', BODY % ('__%s__' % name)])


def make_snippet(name):
    if name in SELF_ONLY:
        return special(name, 'self')

    if name in SELF_AND_OTHER:
        return special(name, 'self, other')

    if name in SELF_AND_MORE:
        return special(name, 'self, ' + SELF_AND_MORE[name])

    if name in ('init', 'call', 'new', 'post_init'):
        return special(name, 'self${2/([^,])?.*/(?1:, )/}${2:arg}')

    return ''.join(['def ', name, '(${3:self${2/([^,])?.*/(?1:, )/}${2:arg}}):\n', BODY % name])


try:
    print(make_snippet(os.environ['TM_CURRENT_WORD']))
except KeyError:
    print("Please type the new function's name\n(you can also use def⇥).")
    sys.exit(206)</string>
	<key>fallbackInput</key>
	<string>word</string>
	<key>input</key>
	<string>selection</string>
	<key>keyEquivalent</key>
	<string>$&#13;</string>
	<key>name</key>
	<string>New Method/Function</string>
	<key>output</key>
	<string>insertAsSnippet</string>
	<key>scope</key>
	<string>source.python</string>
	<key>uuid</key>
	<string>75929BC0-24E5-456D-9FC5-91BF4B490027</string>
</dict>
</plist>
